/* Add a black background color to the top navigation */
* {
  margin:0;
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #141414;
}

.header {
  justify-content: center;
  display:flex;
  height:50px;
  background-color:#111111;
  padding-top:3px;
}

.content {
  padding:30px;
  padding-top:80px;
  box-shadow: rgba(255, 0, 0, 0.562) 0px 30px 60px -12px inset, rgba(0, 7, 8, 0.822) 0px 18px 36px -18px inset;
  height:10vw;
}

.content .quicknav {
  background-color: #111111;
  margin-top: 70px;
  padding:20px;
  box-shadow: rgba(7, 7, 7, 0.904) 0px 10px 20px -10px;

}

.content .quicknav a {
  text-decoration:none;
  display:flex;
  margin-left:20px;
}
.content .quicknav a:first-of-type {

  margin-top:20px;
}

.indexheader {
  background-color:#111111;
  width:110%;
  margin-left:-10%;
  box-shadow: rgba(7, 7, 7, 0.904) 0px 20px 20px -10px;
  padding:20px;
}